:root {
  /*Тень лого*/
  --shadow-logo: rgba(0, 0, 0, 0.24);
  /* basic-color */
  --basic-red: #EE3643;
  --basic-black: #000000;
  --basic-grey: #888888;
  --basic-white: #FFFFFF;
  --basic-yellow: #F9F5F0;
  /* special-dark */
  --special-darken: #32425C;
  --special-darkened: #293449;
  --special-dark: #1D2739;
  --special-extra-dark: #161D29;
  /* green button*/
  --special-green: #63A63E;
  --hover-green: #5FBB2D;
  --active-green: #518534;
  /*services-button */
  --rest-white: rgba(255, 255, 255, 0.3);
  --basic-grey: #C5C5C5;
  --active-grey: #A9A9A9;
  /*red button*/
  --hover-red: #CA2C37;
  --active-red: #BA2732;
  /* services-color */
  --materials-color: #FFBF47;
  --instruments-color: #3BBCE3;
  --technics-color: #DC91D8;
  --discounts-color: #8ED78F;
  --free-delivery-color: #FFC047;
  --opacity-grey: rgba(0, 0, 0, 0.25);
  /*border*/
  --border-color: #EAEAEA;
  /* popular-wrapper */
  --popular-wrapper: #F9F5F0;
  /*special*/
  --opacity-gray:rgba(0, 0, 0, 0.3);
  --special-grey: #A9A9A9;
  --special-blue: #F1F5F7;
  --special-yellow: #F7F3EC;
  --special-second-whiteblue: #F2F6F8;
  --special-whitegreen: #8ED78F;
  --special-white: #F3F7F9;
  --special-red:#BA2732;
  --special-white-grey:#E5E5E5;
  /*special footer*/
  --footer-yellow: #FFDA96;
  /*content-width*/
  --content-width: 940px;
  /*text-style*/
  --PTSans-text: 'PT Sans', Arial, sans-serif;
  /*opacity */
  --opacity-white-color: rgba(255, 255, 255, 0.5);
  /*shadow*/
  --shadow-color: 0px 4px 20px rgba(0, 0, 0, 0.15);
  --header-shadow-nav: inset 0px -5px 0px #293449;
  --buy-button-swadow: inset 0px -3px 0px #367315;
}
/*фон для заголовков в шапках*/
.section-accented{
  background-color: var(--popular-wrapper);
}
/*Текст*/
.section-description {
  font-family: var(--PTSans-text);
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}
/*Скрытие заголовков*/
.visibilty-hidden{
  display: none;
}
/*Стили текста заголовков*/
.section-title{
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--special-darken);
}

/*красная кнопка*/
.red-link{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-white);
  width: 192px;
  height: 38px;
  background-color: var(--basic-red);
  display:inline-block;
}

.red-link:hover{
  background-color: var(--hover-red);
}

.red-link:active{
  background-color: var(--active-red);
}

/*head*/
.page-body {
  font-family: 'Cuprum', 'PT Sans', Arial, sans-serif;
}

/* header */
.main-header {
  background-color: var(--special-white);
  box-sizing: border-box;
  color: var(--width-site);
  margin: 0 auto;
  text-align: center;
}

.main-logo{
  display: inline-block;
  text-decoration: none;
  background-image: url("../img/logo-technomart.svg");
  background-repeat: no-repeat;
  background-color: var(--basic-red);
  width: 220px;
  height: 47px;
  box-shadow: inset 0px -5px 0px var(--shadow-logo);
}

.main-logo:active{
  background-color: var(--special-red);
}

.header-elems-wrapper {
  background-color: var(--special-darkened);
}

.header-wrapper {
  max-width: var(--content-width);
  margin: 0 auto;
}

.search-element {
  color: var(--basic-white);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--special-darkened);
  border: none;
  background-image: url("../img/icon-search.svg") left 10px center;
  background-repeat: no-repeat;
  padding-left: 35px;
  width: 271px;
  height: 42px;
}

.search-element::placeholder {
  color: var(--basic-white);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.search-element::placeholder:focus {
  color: var(--basic-white);
}

.search-element:hover {
  background: url("../img/icon-search-aiming.svg") left 10px center;
  background-repeat: no-repeat;
  padding-left: 35px;
  color: var(--basic-white);
}

.search-element:focus {
  background: url("../img/shape-red.svg") left 10px center;
  background-repeat: no-repeat;
  background-color: white;
  padding-left: 35px;
  color: var(--basic-black);
}

.conteiner-search {
  width: 271px;
  height: 42px;
  background-color: var(--special-darkened);
  color: var(--basic-white);
}

.basket-bookmark {
  width: 150px;
  height: 42px;
  background-color: var(--special-darkened);
  padding: 5px 10px;
  border: none;
  color: var(--basic-white);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.bookmark-product {
  background: url("../img/icon-bookmark.svg") left 10px center;
  background-repeat: no-repeat;
}

.bookmark-product:hover {
  background: url("../img/icon-bookmark-aiming.svg") left 10px center;
  background-repeat: no-repeat;
}

.bookmark-product:active {
  background: url("../img/icon-bookmark.svg") left 10px center;
  background-repeat: no-repeat;
  background-color: var(--special-extra-dark);
  color: var(--opacity-white-color);
}

.basket-product {
  background: url("../img/icon-cart.svg") left 10px center;
  background-repeat: no-repeat;
}

.basket-product:hover {
  background: url("../img/icon-cart-aiming.svg") left 10px center;
  background-repeat: no-repeat;
}

.basket-product:active {
  background: url("../img/icon-cart.svg") left 10px center;
  background-repeat: no-repeat;
  background-color: var(--special-extra-dark);
  color: var(--opacity-white-color);
}

.conteiner-basket {}

.main-buy-product {
  background-color: var(--special-green);
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  width: 150px;
  height: 42px;
  color: var(--basic-white);
}

.main-buy-product:hover {
  background-color: var(--hover-green);
}

.main-buy-product:active {
  background-color: var(--special-green);
  color: var(--opacity-white-opacity);
}

.header-contacts {
  background-color: var(--special-white);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--special-darken);
}

.number-company {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  background: url("../img/tel-icon.svg") 30px center;
  background-repeat: no-repeat;
  border: 3px solid var(--basic-white);
  background-color: : var(--basic-opacity-white);
  padding: 7px 45px 8px 74px;
  color: var(--basic-red);
  text-decoration: none;
}

.header-link{
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  border: none;
  color: var(--basic-black);
  text-decoration: none;
  background-color: var(--basic-white);
}

.login-link {
  width: 121px;
  height: 45px;
  background: url("../img/icon-login.svg") 20px center;
  background-repeat: no-repeat;
  background-color: var(--basic-white);
}

.login-link:hover {
  background: url("../img/icon-login-aiming.svg") 20px center;
  background-repeat: no-repeat;
  color: var(--basic-red);
  background-color: var(--basic-white);
}

.login-link:active {
  background: url("../img/icon-login.svg") 20px center;
  background-repeat: no-repeat;
  color: var(--basic-grey);
  background-color: var(--basic-white);
}

.registration-link {
  width: 150px;
  height: 45px;
}

.registration-link:hover {
  background-color: var(--basic-white);
  color: var(--basic-red);
}

.registration-link:active {
  background-color: var(--basic-white);
  color: var(--basic-grey);
}

.description-wrapper {
  text-align: left;
  color: var(--basic-red);
}

.header-center-elems {}

.site {
  max-width: var(--content-width);
}

/* nav-header */
.site-nav {
  background-color: var(--special-darken);
  text-align: center;
  margin: 0 auto;
  box-shadow: var(--header-shadow-nav);
}

.site-nav-item {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  list-style-type: none;
  color: var(--basic-color);
}

.site-nav-item:hover {
  background-color: var(--special-dark);
}

.site-nav-item:active {
  background-color: var(--special-dark);
  color: var(--basic-white);
  opacity: 0.5;
}

.header-nav-link {
  color: var(--basic-white);
  text-decoration: none;
}

.site-nav-list {}

/* main */
.center {
  margin: 0 auto;
}

.main-content{
  width: var(--width-site);
  background-color: var(--basic-white);
  max-width: var(--content-width);
  font-family: inherit;
}

/* services */
.service {
  text-align: center;
}

.service-list {
  list-style-type: none;
}

.service-paragraph {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.service-item {
  color: var(--basic-white);
  width: 300px;
  height: 123px;
}

.tagline-wrapper {}

.tagline-service {
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  border: none;
  text-decoration: none;
  color: var(--basic-white);
  background-color: var(--rest-white);
  display: inline-block;
  width:135px;
  height:38px;
}
.icon-wrapper{
  background-repeat: no-repeat;
  width:78px;
  height:72px;
}

.icon-materials{
  background-image: url("../img/icon-materials.svg");
}

.icon-instruments{
  background-image: url("../img/icon-instruments.svg");
}

.icon-technics{
  background-image: url("../img/icon-technics.svg");
}

.icon-discounts{
  background-image: url("../img/icon-discounts.svg");
}

.icon-delivery{
  background-image: url("../img/icon-free-delivery.svg");
}

.tagline-service:hover {
  color: var(--basic-white);
  background-color: var(--basic-grey);
}

.tagline-service:active {
  color: var(--basic-white);
  background-color: var(--active-grey);
}

.materials-color {
  background-color: var(--materials-color);
}

.instruments-color {
  background-color: var(--instruments-color);
}

.technics-color {
  background-color: var(--technics-color);
}

.discounts-color {
  background-color: var(--discounts-color);
}

.free-delivery-color {
  background-color: var(--free-delivery-color);
}

.carousel-wrapper {
  width: 620px;
  height: 266px;
  background-image: url("../img/layer99.jpg");
}

.tagline-conteiner {
  width: 620px;
  height: 104px;
  background: var(--opacity-grey);
}

.tagline-header-text {
  font-family: inherit;
  color: var(--basic-white);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.tagline-text {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

/* popular-products */
.popular-products {
  background-color: var(--basic-white);
  max-width: var(--content-width);
}

.product-elems-wrapper {
  background-color: var(--popular-wrapper);
}

.product-heading {}

.product-list {
  margin: auto;
  text-align: center;
}

.product-item {
  list-style-type: none;
  border: 1px solid var(--border-color);
  width: 220px;
  height: 318px;
}

.product-item:hover {
  box-shadow: var(--shadow-color);
}

.name {
  font-family: var(--PTSans-text);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: var(--basic-black);
}

.discount {
  font-family: var(--PTSans-text);
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: var(--special-grey);
}

.price {
  font-family: var(--PTSans-text);
  color: var(--basic-white);
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  background: url("../img/background-price.png") center;
  background-repeat: no-repeat;
  width: 141px;
  height: 38px;
  background-color: var(--basic-red);
  background-image:
    linear-gradient(-45deg, var(--basic-white) 11%, transparent 11%),
    linear-gradient(-135deg, var(--basic-white) 11%, transparent 11%);
    border-radius: 2px;
}

.buy-product {
  font-family: inherit;
  background-image: url("../img/icon-cart-products.svg");
  background-repeat: no-repeat;
  width: 135px;
  height: 38px;
  background: var(--special-green);
  box-shadow: var(--buy-button-swadow);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  font-weight: normal;
}

.buy-product:hover {
  background-image: url("icon-cart-products.svg");
  background-repeat: no-repeat;
  background: var(--hover-green);
}

.buy-product:active {
  background-image: url("icon-cart-products.svg");
  background-repeat: no-repeat;
  background: var(--active-green);
}

.in-bookmark-product {
  width: 135px;
  height: 38px;
  border: 3px solid var(--special-green);
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: var(--special-darken);
}

.in-bookmark-product:hover {
  border: 3px solid var(--special-darken);
  color: var(--special-darken);
}

.in-bookmark-product:active {
  opacity: 0.5;
}

/* popular-manufacturers */
.manufacturers-list {
  margin: auto;
}

.desc{
  background-color:var(--special-blue);
}

.manufacturers-item {
  width: 220px;
  height: 145px;
  text-align: center;
  list-style-type: none;
  background: var(--basic-white);
  border: 1px solid var(--border-color);
  box-sizing: border-box;
}

.manufacturers-item:hover {
  box-shadow: var(--shadow-color);
}

.manufacturers-item:active {
  box-shadow: var(--shadow-color);
  background: var(--basic-white);
  opacity: 0.5;
}

.container-company-logo{
  max-width: 205px;
  max-height: 80px;
}

.desc-item {
  width: 240px;
  height: 61px;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  list-style-type: none;
  background-color: var(--special-darken);
}

.desc-item:hover {
  color: var(--basic-white);
  background-color: var(--special-darkened);
}

.desc-item-active {
  color: var(--special-darken);
  background-color: var(--basic-white);
}

.delivery-image-car {
  background-image: url("../img/car.png");
  background-repeat: no-repeat;
  width: 468px;
  height: 261px;
}

/* company */

.company-item {
  list-style-type: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

.map-feedback-link {
  width: 300px;
  height: 38px;
}

.map-wrapper{
  background-image: url("../img/map.png");
  width: 300px;
  height: 158px;
}
/* main-footer */
.page-footer {
  width: var(--width-site);
  background-color: var(--special-darken);
  margin: 0 auto;
  max-width: var(--content-width);
  font-family: inherit;
}

.footer-elems-wrapper {
  background-color: var(--special-darkened);
}

.footer-nav-list {
  list-style-type: none;
}

.footer-nav-item {}

.footer-nav-link {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--special-white);
  text-decoration: none;
}

.footer-nav-link:hover {
  text-decoration: underline;
}

.footer-nav-link:active {
  opacity: 0.5;
  text-decoration: none;
}

.fooder-contacts-wrapper {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--special-white);
}

.fooder-tel {
  color: var(--special-white);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.footer-services-item {
  list-style-type: none;
}

.footer-services-link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--footer-yellow);
  text-decoration: none;
}

.footer-services-link:hover {
  text-decoration: underline;
}

.footer-services-link:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-elems-wrapper {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-social-network-wrapper {
  display: none;
}

.footer-social-networks-list {
  text-align: center;
}

.footer-social-networks-item {
  list-style-type: none;
}

.footer-social-networks-link {
  color: var(--special-white);
  text-decoration: none;
}

.feedback-wrapper {
  color: var(--special-white);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.footer-social-networks-link:hover {
  background-color: red;
}

.designed-wrapper {
  color: var(--special-white);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.footer-feedback-link {
  color: var(--footer-yellow);
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.footer-feedback-link:hover {
  text-decoration: underline;
}

.footer-feedback-link:active {
  text-decoration: none;
  color:var(--basic-red);
}

/*Catalog*/

/*main*/
.text-catalog{
  font-family: 'PT Sans',Arial,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}


.way-direction{
  text-decoration: none;
}

.way-item:first-child{
  list-style-image: url('../img/icon-home-catalog.svg');
  width: 14px;
  height: 12px;
}
.way-item:nth-child(n+2){
  list-style-image: url('../img/icon-right-small.svg');
  width: 8px;
  height: 12px;
}
.way-title{
  background-color: var(--special-second-whiteblue);
  width: 940px;
  height: 89px;
}
.main-filter{
  width: 220px;
  height:38px;
  background-color: var(--special-yellow);
}
.range-wrapper{
}

.paragraph-sidebar{
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  background-color: none;
  font-family: 'PT Sans',Arial,sans-serif;
  font-style: normal;
  text-transform: uppercase;
  color: var(--basic-black);
}

.range-control[type='range']{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--special-yellow);
  width: 220px;
  height: 80px;
    }
.range-control[type='range']::-webkit-slider-runnable-track{
  height: 2px;
  background-color: green;
}
.range-control[type='range']::-moz-range-track{
  height: 2px;
  background-color: green;
}
.range-control[type='range']::-webkit-slider-thumb{
    -webkit-appearance: url("../img/icon-vk.svg");
}
.range-control[type='range']::-moz-range-thumb{

}

.range-number-wrapper{
  background-color: var(--special-yellow);
  width: 95px;
  height: 38px;
}

.numbr-range{
  font-family: 'PT Sans',Arial,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.middle-range{
  font-size: 16px;
}
.text-sidebar{
  font-family: 'PT Sans',Arial,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: var(--basic-black);
}
.variant{
  visibility: hidden;
}
.variant-style{
  background-image: url('../img/checkbox-off.svg');
  background-repeat: no-repeat;
}
.variant:checked + .variant-style{
  background-image: url('../img/checkbox-on.svg');
  background-repeat: no-repeat;
}
.battery{
  visibility: hidden;
}
.battery-style{
  background-image: url('../img/radio-off.svg');
  background-repeat: no-repeat;
}
.battery:checked + .battery-style{
  background-image: url('../img/radio-on.svg');
  background-repeat: no-repeat;
}
.battery-style:hover{
  background-image: url('../img/radio-off-aiming.svg');
  background-repeat: no-repeat;
}
.battery:checked:hover + .battery-style{
  background-image: url('../img/radio-on-aiming.svg');
  background-repeat: no-repeat;
}
.show-product{
  width: 220px;
  height: 38px;
  border: 1px solid var(--special-white-grey);
  background: var(--basic-white);

}
.header-sorting-item{
  list-style: none;
}
.sorting-product-wrapper{
  background-color:var(--special-yellow);
  width:700px;
  height: 38px;
}
.sorting-main{
  text-decoration: none;
}
.sorting-menu{
  text-decoration: none;
  border-bottom: 1px dotted var(--basic-red);
  display: inline-block;
  color:var(--opacity-gray);
}
.sorting-menu:hover{
  color:var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}
.sorting-menu:active{
  color:var(--basic-red);
  border:none;
}
.arrow-top{
  display: inline-block;
  width:11px;
  height: 10px;
  background-color: var(--basic-grey);
  background-image:
  linear-gradient(120deg, var(--special-yellow) 33%, transparent 33%),
  linear-gradient(240deg, var(--special-yellow) 33%, transparent 33%);
  text-decoration: none;
}
.arrow-bottom{
  display: inline-block;
  width:11px;
  height: 10px;
  background-color: var(--basic-grey);
  background-image:
  linear-gradient(120deg, var(--special-yellow) 33%, transparent 33%),
  linear-gradient(240deg, var(--special-yellow) 33%, transparent 33%);
  transform: rotate(180deg);
  text-decoration: none;
  }
.arrow-top:hover{
background-color:var(--basic-black);
}
.arrow-bottom:hover{
background-color:var(--basic-black);
}
.arrow-top:active{
background-color:var(--basic-red);
}
.arrow-bottom:active{
background-color:var(--basic-red);
}
.page-number{
  display: inline-block;
  text-decoration: none;
  background: var(--basic-white);
  border: 1px solid var(--special-white-grey);
  border-radius: 2px;
  width: 38px;
  height: 38px;
}
.page-next{
  width: 140px;
  height: 38px;
}
.page-number:hover{
  border: 1px solid var(--basic-grey);
}
.page-number:active{
  border: 1px solid var(--basic-red);
}
